{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>AFSY - WebSockets and Symfony</h1>
        <div id="ws-content-receiver">
            Connecting...
        </div>

        <div id="ws-content-receiver"></div>
        <input type="text" id="ws-content-to-send" />
        <button id="ws-send-content">Send</button>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var wsUrl = 'localhost:3001';
    </script>
    <script type="text/javascript" src="{{ asset('/js/sf-websocket.js') }}"></script>
{% endblock %}